/**
 * @name do not load me directly
 * @author endernon
 * @description my own tweaks for discord, mostly squaring icons
 * @version 1.0.5
 * @source https://github.com/EnderNon/discord-css-tweak
 * @updateUrl https://raw.githubusercontent.com/EnderNon/discord-css-tweak/refs/heads/main/twerk.css
*/



/* disable clan tags */
[class*="clanTagChiplet_"] { display: none !important; }
span[class*="username_"] span[class*="chipletContainerInner"] {display:none} {
  div[class*="contents_"] {
    h3[class*="header"] {
      span[id*="message-username"][class*="headerText_"] {
        span {
          span[class*="chipletContainerInner__"] {
            display: none;
          }
        }
      }
    }
  }
}

/* square avatars */
[class*="avatar"][class*="clickable"] {border-radius: 0% !IMPORTANT;}

/* disable send a gift button in bottom right */
[aria-label="Send a gift"] {display: none}

/* disable Discover servers in bottom left */
div[class*="listItem"]:has(div[aria-label="Discover"]) {display:none}
/* Disable Shop button in dms menu */
li div a[href="/shop"] {display:none};

/* Squared avatars 2 */
/* Squared icons */
div[class*="blobContainer"] * {border-radius: 0!important; mask: 0; -webkit-mask: 0;}
div[class*="wrapper"] svg foreignObject {mask: none;}
div[class*="listItem"] div[class*="wrapper"] div[class*=centerTarget] * {border-radius: 0!important; mask: 0; -webkit-mask: 0;}
div[class*="repliedMessage"] img {border-radius:0!important; mask: 0; -webkit-mask: 0;}
div[class*="listItem"] div div[class*="blobContainer"] * {border-radius: 0!important; mask: 0; -webkit-mask: 0;}
img[class*="avatar_"][class*="clickable_"][src*="https://cdn.discordapp.com/avatars"] {
  border-radius: 0;
}
img[class*="avatar_"][class*="clickable_"][src*="https://cdn.discordapp.com/guilds"] {
  border-radius: 0;
}

/* Squared server folders*/
div[class][data-dnd-name][draggable="true"] div[class*="wrapper"] svg * {border-radius: 0!important; mask: 0; -webkit-mask: 0;}

/* disable avatar deco*/
[class*="avatarDecoration"] {
  display: none;
}

/* disable namecards on sidebar of channel */
div[aria-label="Members"][class*="content"] 
div[class^="member"] 
div[class^="childContainer"] 
div[class*="container"][style*="background: linear-gradient"] {
  display: none;
}
div[class*="member__"] { 
  div[class*="childContainer__"][class*="nameplated__"] { 
    div[class*="container"] {
      display: none;
    }
  }
}


div[class*="sidebar"] {
    /* Align the own profile showcase bit into where the channels sidebar is */
  section[class*="panels"] {
    border-radius: 0;
    border-right: none;
    border-left: none;
    bottom: 0px;
    right: 0px;
    left: calc(1 + var(--custom-guild-list-width));
    width: calc(100% - 2px - var(--custom-guild-list-width));
  };
  /* remove black bg where the profile showcase bit was */
  nav[class*="wrapper"] {
    margin-bottom: 0;
  }
}
/* remove black bar on the bottom left idk what its for */
div[class*="sidebar"]:after {
  height: 0;
}
/* for textbox into rectangular style*/
main[class*="chatContent"] {
  form {
    /* padding on left and right removed*/
    padding-left: 0;
    padding-right: 0;
    /* bottom padding removed, border on left removed to join up, border corner rounding gone*/
    div[class*="channelTextArea"] {
      margin-bottom: 0;
      border-radius: 0;
      border-left: 0;

    }
  }
}
/* searchbar gaming (borked) */
div[class*="subtitleContainer"] section[class*="title"] {
  div[class*="upperContainer"] {
    div[class*="toolbar"] {
      div[class*="search"] {
        height: 100%;
        div[class*="search"] {
          height: 100%;
          div[class*="searchBar"] {
            border-radius: 0;
            border-top: none;
            border-bottom: none;
            height: 100%;
            margin: auto;
          }
        }
      }
    }
  }
  padding-top: 0;
  padding-bottom: 0;
  
}
div[class*="DraftEditor-root"] {
  
}
div[class*="DraftEditor-editorContainer"] {
  margin-top: 5px;
  margin-bottom: 0px;
}


div[data-list-item-id*="members"] > div[class*="nameplated"] > div[class*="container"] {
  display: none;
}

/* hide the stupid username fonts */
div[class*="name"] > span[class*="username"] > span[class*="name"] span[class*="nameContainer"] span[class*="dnsFont"] {
  font-family: "gg sans", "Arial", "sans-serif";
}
li[id*="chat-messages"][class*="messageListItem"] > div[class*="message"] > div[class*="contents"] > [class*="header"] span[id*="message-username"][class*="headerText"] span[class*="dnsFont"] {
  font-family: "gg sans", "Arial", "sans-serif";
}
