/**
 * @name endernon flavoured discord
 * @author endernon
 * @description my own tweaks for discord
 * @version 1.0.2
 * @source https://github.com/EnderNon/discord-css-tweak
 * @updateUrl https://raw.githubusercontent.com/EnderNon/discord-css-tweak/refs/heads/main/twerk.css
*/



/* disable clan tags */
[class*="clanTagChiplet_"] { display: none !important; }
span[class*="username_"] span[class*="chipletContainerInner"] {display:none}

/* square avatars */
[class*="avatar"][class*="clickable"] {border-radius: 0% !IMPORTANT;}

/* disable send a gift button in bottom right */
[aria-label="Send a gift"] {display: none}

/* disable Discover servers in bottom left */
div[class*="listItem"]:has(div[aria-label="Explore Discoverable Servers"]) {display:none}
/* Disable Shop button in dms menu */
li div a[href="/shop"] {display:none};

/* disable the Activity menu at top of members*/
div aside div[class*="members"] div div div[data-list-item-id*="members"] div[class*="openOnHover"] {display:none}
div aside div[class*="members"] div[role="list"] h3[class*="membersGroup"]:nth-child(2) {display:none}

/* Squared avatars 2*/
div[class*="avatar"] * {border-radius: 0!important; mask: 0; -webkit-mask: 0;}
/* Squared server icons*/
div[class*="blobContainer"] * {border-radius: 0!important; mask: 0; -webkit-mask: 0;}
div[class*="wrapper"] svg foreignObject {mask: none;}
/* Squared server folders*/
div[class*="wrapper"] div {border-radius:0}
